/* estilos que se entregarán a la función setActiveClass  */
.active {
  color: gold;
  padding-right: 10px;
}

.inactive {
  color: white;
  padding-right: 10px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: red;

}

.contenedor-principal {
  padding-top: 60px;
  
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

li:before {
  content: "🍕";
  padding-right: 5px;
}